.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.box {
    display: flex;
    justify-Content: space-between;
    align-Items: center;
    margin-Bottom: 2px;
}

.logoutButton {
    margin-top: 20px;

}

.watchlistGrid {
    margin-top: 20px;
}

.cardMedia img {
    object-fit: cover;
}
.watchTime{
    background-color: green;
    display: block;

}