.header-toolbar {
    background-color: yellow;
    color: black;
}

.header-title {
    flex-grow: 1;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.header-login-signup {
    background-color: #fedcba;
    color: #123456;
}
