.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.genre-year-group {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.search-bar {
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.movie-grid {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.customButton {
    background-color: #1976d2;
    color: white;
    margin: 5px;

    &:hover {
        background-color: #115293;
    }
}

.customMenu {
    .menu-item {
        &:hover {
            background-color: #eeeeee;
        }
    }
}

.search-input {
"& .MuiOutlinedInput-root": {
"&.Mui-focused fieldset": {
    borderColor: "green",
},
},
}







